
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 10%;
  min-height: 100vh;
  background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
  font-family: 'Segoe UI', sans-serif;

}

/* LEFT SIDE */
.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.hero-left h2 {
  font-size: 70px;
  font-weight: 800;
  color: #111;
  margin-bottom: 10px;
  text-align: left;
  
}
.hero-left p{
  font-size:30px;
}

.hero-subtext {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* 👋 Text line */
.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
  color: #555;
}

.hero-hand-icon img {
  width: 24px;
  height: auto;
}

/* CTA Button */
.latest-btn {
  display: flex;
  align-items: center;
  gap:20px;
  background: none;
  padding-top: 5px;
}

.latest-btn div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15px;
  width:310px;
  height: 70px;
  border-radius: 75px;
  background: #ff4141;
  color: white;
  font-size: 22px;
  font-weight: 500;
  transition: background 0.3s ease;
 
}

.latest-btn div:hover {
  background-color: #0056b3;
}

.latest-btn img {
  width: 16px;
  height: auto;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right img {
  width: 1300% !important;
  max-width: 1100px !important; 
  height: auto;
}

@media(max-width:1280px){
  .hero-left{
    padding-left:20px;
  }
  .hero-left h2{
font-size: 60px;
  }
  .hero-left p{
    font-size: 20px;
  }
  .hero-hand-icon img{
    width:22px;
  }
  .hero.latest-btn div{
    height: 60px;
    width:300px;
    font-size: 20px;
  }
.hero-right img{
  width:900px;
}
}
@media(max-width:1024px){
  .hero-left{
    padding:18px;
  }
  .hero-left h2{
font-size: 55px;
  }
  .hero-left p{
    font-size: 18px;
  }
  .hero-hand-icon img{
    width:21px;
  }
  .hero.latest-btn div{
    width:300px;
    height:50px;
    font-size: 18px;
  }
.hero-right img{
  width: 1000% !important;
  max-width: 900px !important; 
  height: auto;
}
}
 @media(max-width:800px){
  .hero-left{
    padding:16px;
  }
  .hero-left h2{
font-size: 45px;
  }
  .hero-left p{
    font-size: 16px;
  }
  .hero-hand-icon img{
    width:20px;
  }
  .hero.latest-btn div{
    width:280px;
    height:40px;
    font-size: 16px;
  }
.hero-right img{
  width: 800% !important;
  max-width: 700px !important; 
  height: auto;
}
}
@media(max-width:800px){
  .hero{
    flex-direction: column;
  }
  .hero-left{
    padding:16px;
  }
  .hero-left h2{
font-size: 50px;
  }
  .hero-left p{
    font-size: 20px;
  }
  .hero-hand-icon img{
    width:30px;
  }
  .hero.latest-btn div{
    width:300px;
    height:70px;
    font-size: 20px;
  }
.hero-right img{
 display: none;
}
}