.Admin {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

/* Responsive behavior */
@media (max-width: 800px) {
  .Admin{
    flex-direction: column;
    align-items: stretch;
  }
}
